
@font-face {
	font-family: 'BrahmsGotisch';
	src: url('../fonts/BrahmsGotischCyr.otf');
	font-weight: normal;
	font-style: normal;
}

@media all and (min-width: 310px) and (max-width: 768px){
	.item{
		max-width: initial;
		max-height: initial;
		width: 95vw;
		height: calc(95vw / 16 * 9);
	}
	.img_link{
		margin: 5px 0;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.main {
	background-color: #fff;
	width: 95%;
	max-width: 1000px;
	margin: auto;
	box-shadow: 0 0 10px 1px rgba(255, 0, 255, 0.3);
	display: flex;
	flex-wrap: wrap;
}

.item {
	max-width: 490px;
	max-height: 265px;
	height: calc(95vw / 2 / 16 * 9);
	width: calc(90vw - 10px);
	background-color: dodgerblue;
	background-position: center;
	background-size: cover;
}

.heading {
	font-size: 52px;
	text-align: center;
	width: 100%;
	padding: 30px 0;
	font-family: BrahmsGotisch;
	color: dodgerblue;
}

.img_link {
	margin: 5px;
	display: block;
	opacity: 0.6;
	transition: opacity 0.6s ease, transform 0.4s ease-in, box-shadow 0.8s ease-out;
}

.img_link:hover {
	opacity: 1;
	transform: scale(1.2) rotate(5deg);
	z-index: 10;
	box-shadow:  0 0 200px 30px rgba(30,144,255,0.4);
}
.link_wrapper {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.author {
	color: #111;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: 1.6s;
}
.author:hover{
	border-bottom-color: #111;
}